.navbar {
	position: fixed;
	width: 100%;
	z-index: 9999; /* to keep the navbar on top (always) */
	top: 0;
	background-color: #2e2e2e;
	font-weight: 400;
}

.navbar-brand {
	font-weight: 500;
}

.site-header .navbar-nav .nav-link {
	color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
	color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}

.page-head {
	padding-top: 0.5em;
}

#full-screen-background, #full-screen-scroll {
	color: white;
	font-family: 'Comfortaa', cursive;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	width: auto;
	filter: brightness(75%);
}

#full-screen-background {
	height: -o-calc(100vh - 56px);
	/* opera */
	height: -webkit-calc(100vh - 56px);
	/* google, safari */
	height: -moz-calc(100vh - 56px);
	/* firefox */
}

#full-screen-scroll {
	background-attachment: fixed;
}

#clock {
	font-size: 10em;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#zip-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
}

.icon {
	width: 40%;
	height: auto;
	filter: brightness(0) invert(1);
}

#weather-left {
	text-align: center;
	display: block;
	border-right: 3px solid #ccc;
}

#weather-left > h3 {
	padding-bottom: 0.3em;
}

#weather-right {
	padding-left: 4em;
}

#weather-right > h3 {
	padding-bottom: 1em;
}

.article-title {
	color: #444444;
}

a.article-title:hover {
	color: #428bca;
	text-decoration: none;
}

.article-content {
	white-space: pre-line;
}

.article-metadata {
	padding-bottom: 1px;
	margin-bottom: 4px;
	border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
	color: #333;
	text-decoration: none;
}

.diary-content {
	margin-right: 20px;
	margin-bottom: 15px;
}

.diary-sidebar {
	height: fit-content;
}

/* for mobile devices (tablets) */

@media only screen and (max-width: 767px) {
	#clock {
		font-size: 7em;
	}
	#weather-left {
		border-right: none;
		margin-bottom: 5px;
	}
	#weather-right {
		padding-left: 15px;
		margin-top: 1em;
		text-align: center;
	}
	#zip-box {
		padding: 10px;
		position: relative;
		text-align: center;
	}
	.form-note {
		margin-top: 20px;
	}
	.diary-content {
		margin: 0px 20px 15px 20px;
	}
	.diary-sidebar {
		margin: 10px 20px 0px 20px;
	}
}

/* for mobile devices (smart phone) */

@media only screen and (max-width: 475px) {
	#clock {
		font-size: 5em;
	}
}