{% extends "form_layout.html" %}
{% block forms %}
<div class="content-section">
    <h2 class="account-heading">Welcome back, {{ current_user.username }}!</h2>
    <p class="text-secondary">Your email: {{ current_user.email }}</p>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Account Info</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.zipcode.label() }}
                {% if form.zipcode.errors %}
                {{ form.zipcode(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.zipcode.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.zipcode(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock forms %}