{% extends "layout.html" %}
{% block content %}
<div class="container pt-5">
	<div class="row">
		<div class="col-md-7 mr-5 form-forms">
			{% block forms %}{% endblock %}
		</div>
		<div class="col-md-4 mx-auto form-note">
			<div class="content-section bg-light p-4 border border-info rounded">
				<h3>A message from the creator of Dailyapp:</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nostrum nam veniam aspernatur molestiae necessitatibus deserunt commodi eum porro, vitae et praesentium, exercitationem est magnam non nesciunt minus quas maiores.</p>
			</div>
		</div>
	</div>
</div>
{% endblock content %}