{% extends "layout.html" %}
{% block content %}
{% if background is defined%}
<div id="full-screen-background" style="background-image: url('{{ background }}');">
{% else %}
<div id="full-screen-background">
{% endif %}
	<div id="zip-box">
		<h1 class="text-center text-white page-head">Please put your zip code in the box below:</h1>
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<div class="form-group">
					{{ form.zipcode.label(class="form-control-label") }}
					{% if form.zipcode.errors %}
					{{ form.zipcode(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.zipcode.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
					{% else %}
					{{ form.zipcode(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			</fieldset>
			<div class="form-group text-center">
				{{ form.submit(class="btn btn-primary btn-lg") }}
			</div>
		</form>
	</div>
</div>
{% endblock content %}